<section class="about_part">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-4 col-lg-5 offset-lg-1">
                <div class="about_img">
                    <img src="assets/img/about.png" alt="" style="border-radius: 10px;">
                </div>
            </div>
            <div class="col-sm-8 col-lg-4">
                <div class="about_text">
                    <h2 style="color: rgb(105, 83, 167);">Our History</h2>

                    <p style="font-family:fantasy">An age-old civilization between East and West, its geo-strategic location in the Mediterranean
                        has placed Tunisia in the forefront of history. A crossroads for brilliant and diversified
                        civilizations, the country was successively Punic, Roman, Vandal, Byzantine, Arab and Muslim,
                        Ottoman, Husseinite, and a French protectorate, before gaining independence in 1956 </p>
                    <a routerLink='position-site' class="btn_3">Discover More <img src="assets/img/icon/left_2.svg"
                            alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>