<section><app-header></app-header></section>
<section>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb_iner text-center">
            <div class="breadcrumb_iner_item">
              <h2></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<section class="exclusive_item_part blog_item_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="text-center section_tittle">
                    <h1></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div *ngFor='let t of choices' class="col-sm-6 col-lg-4">
                <app-our-choise-desert [x]='t'></app-our-choise-desert>
            </div>
        </div>
    </div>

</section>