<section class="exclusive_item_part blog_item_section">
    <div class="container">
        <div class="row">
            <div class="text-center col-xl-12" >
                <div class="section_tittle">
                    <h1 style="color: rgb(108, 117, 240);">Our Exclusive Themes</h1>
                </div>
            </div>
        </div>
        <div class="row">
           
            <div *ngFor='let t of themes' class="col-sm-6 col-lg-4">
               
                <app-our-theme-child [x]='t'></app-our-theme-child>
            
            </div>
        </div>
    </div>

</section>