
<section>
    <app-header></app-header>
</section>
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>Reservation</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div style=" margin: auto;
width: 50%;
border: 0px solid #73AD21;
padding: 100px;">
    <app-our-menu-child-desert-choise [x]='menu'></app-our-menu-child-desert-choise>
 <div><a class="nav-link" *ngIf='connectedUser'>{{connectedUser.firstName }} {{connectedUser.lastName}}</a></div>
</div>