<body>
    <!--::header part start::-->

    <!-- Header part end-->
    <app-header></app-header>

    <!-- banner part start-->
    <section class="banner_part">

    </section>

    <!-- banner part start-->
   
    <!--::exclusive_item_part start::-->
    <!--::exclusive_item_part end::-->
    <app-our-theme></app-our-theme>
    <!-- about part start-->

    <!-- about part end-->
    <app-our-history></app-our-history>
    <!-- intro_video_bg start-->
    <app-our-video></app-our-video>
    <!-- intro_video_bg part start-->

    <!-- food_menu start-->

    <!-- food_menu part end-->

    <!--::chefs_part start::-->
    <app-our-teams></app-our-teams>
    <!--::chefs_part end::-->

    <!--::regervation_part start::-->
   
    <!--::regervation_part end::-->

    <!--::review_part start::-->
   
    <!--::review_part end::-->

    <!--::exclusive_item_part start::-->
   
    <!--::exclusive_item_part end::-->

    <!-- footer part start-->
    <app-footer></app-footer>

</body>